.vscode
.cache/

# builds
build/
# *.exe
*.o

env.json

# temporary
prototype
compile_flags.txt
python.pdf
nfd_test
function_calling
meeting.md
file_api.sh
gemini_api_curl.sh
set_call_type_declaration.json
